<% provide(:title, "Contact") %>


<div class = "contactpage">
	<div class = "contacttext"><h3>Want to help? Contact Us!</h3></div>
	<div class = "container">
		<div class = "checklist ">
			<ul class = "list">
				<li class = "langauages"><%= image_tag("html.png", class: "img") %> Are you familiar to HTML5?</li>
				<li class = "langauages"><%= image_tag("css.png", class: "img") %> Are you familiar to CSS?</li>
				<li class = "langauages"><%= image_tag("jquery.png", class: "img") %> Are you familiar to jQuery?</li>
			</ul>
			<ul class = "list">
				<li class = "langauages"><%= image_tag("commandline.png", class: "img") %> Are you familiar to Commandline?</li>
				<li class = "langauages"><%= image_tag("rails.png", class: "img") %> Are you familiar to Rails4?</li>
				<li class = "langauages"><%= image_tag("bootstrap.png", class: "img") %> Are you familiar to Bootstrap</li>
			</u
		</div>

		<div class = "anser">Yes? Then I will be familiar to you.</div>

		<div class = "contactzhouyou">
			<h4 class = "name">Zhou You</h4>
		</div>

		<div class = "contacthuxi">
			<h4 class = "name">Hu Xi</h4>
		</div>
	</div>
</div>