<% provide(:title, @user.name) %>

<div class = "profilepage">
<div class = "container">

  <!-- World Map -->
<div class = "page ">
  <div>  </div>
    <div class = "textabovemap"><p>Hey <%= @user.name %>, look at the world. Isn't it amazing?</p></div>
    <div id="holder_1000" style="position:relative;"></div>
</div>

<div class = "page active-page">
  <div class = "section-1 col-md-4">
    <div class="row">
        <div class="user_info">
          <div class = "user_info_picture">
            <%= gravatar_for @user %>
            <p><%= @user.name %></p>
            <a href = "#" class = "linktomap">See my map!</a>
          </div>
          <div class = "user_info_text"></div>
        </div>
      </div>
    </div>

  <div class = "section-2 col-md-5">
    <div class = "row">
      <div class = "postcontainer">
        <% if @user.microposts.any? %>
          <h3>Seeds (<%= @user.microposts.count %>)</h3>
          <div class = "postcontainer-inside">
            <ol class="microposts">
              <%= render @microposts %>
            </ol>
          </div>
          <%= will_paginate @microposts %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>