<% provide(:title, @user.name) %>

<div class = "profilepage">
<div class = "container">

<!-- World Map -->
<div class = "page page1 ">
    <div class = "textabovemap"><p>Hey <%= @user.name %>, look at the world. Isn't it <em>amazing</em> ?</p></div>
    <div class = "viewposts">
      <a href = "#"><em>Don't you want to write something behind?</em></a>
    </div>

    <!-- World Map -->
    <div id="holder_1000" style="position:relative;"></div> <!-- World Map -->


    <!-- Only I can see the product -->
    <% if @user.email == "williamramthy@hotmail.com" %>
    <div class = "alter-viewposts">
      <a href = "#" class = "mapbox"><div>View my routes!</div></a>
    </div>
    <% elsif @user.email == "yollyhideout@gmail.com" 
       %>
    <% else %>
    <!-- Submit map code -->
    <div class = "submit-mapcode">
      <a href = "#" class = "submit-routes">Submit my routes!</a>
    </div>

    <div class = "submite-map">
      <form role = "form">
        <div class="form-group">
          <label for="code" class = "maptitlecode">Map Code:</label>
          <input type="text" class="form-control inputcode" id="code" placeholder="Enter your Mapbox Code Here: ">
          <button type="submit" class="btn btn-default firstsubmit">Submit</button>
          <div class = "for-cheating">
            <p class = "feedbackmsg">Code submitted. Working in process...... </p>
            <button type="submit" class="btn btn-default okay">Okay</button>
          </div>
        </div>
      </form>
    </div>
    <% end %>

    <div class = "popupbox">
      <h5>Hey there</h5>
      <h4 class = "crossicon "><a href = "#">&#10007</a></h4>
      <P>When you are there, have you thought through...</p>
      <p>Like freedom, life, dream, religion, or whatever that jumps into your mind, even for a second.</p>
      <p>If you don't note them down, they'll disappear in a second, like a stray bird of summer, sing and fly away with a sigh.</p>
      <h3 class = "viewposts"><a href = "#">&#10004</a></h3>
    </div>
    <div class = "jin"><p>Profile page designed by JINGYI FENG</p></div>
</div>

<div class = "page page3">
   <a href = "#" class = "mapbox2">Back</a>
  <iframe class = "view-map-box" width='1268px' height='600px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/xiihu.n2ni3m8n/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoieGlpaHUiLCJhIjoiOTRiYjM1MTUzY2VkOTJmYTY3NTcwZjhlNjcxMThmNzYifQ.KlQ3cNBstznqs_kNYQExqQ'></iframe>
  
</div>

<!-- Page 2 is our Main Profile -->
<div class = "page page2 active-page">
  <div class = "section-1 col-md-4">
    <div class="row">
        <div class="user_info">
          <div class = "user_info_picture">
            <%= gravatar_for @user %>
            <p><%= @user.name %></p>
            <div class = "linktomap"><a href = "#">(See my map!)</a></div>
          </div>
          <div class = "user_info_text"></div>
        </div>
      </div>
    </div>

  <div class = "section-2 col-md-5">
    <div class = "row">
      <div class = "postcontainer">

      <div class = "postform">
        <!-- Add a micropost form -->
        <%= form_for(@micropost, html: { multipart: true }) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="field">
            <%= f.text_area :content, placeholder: "What jumps into your mind..." %>
          </div>

          <!-- Image uploader -->
          <input accept="image/jpeg,image/gif,image/png, image/jpg, image/bmp, image/tiff, image/rif"  id="image-upload" name="micropost[picture]" class="hidden" type="file">
          <div class = "uploadpicture" id = "uploadpicture"><%= link_to image_tag("camera.png"), "#" %></div>
          <!-- Image Uploader ends here! -->

          <%= f.submit "Footprint", class: "btn btn-primary postbutton" %>
          <!-- Image Uploader Ends Here -->

        <% end %>
      </div>

        <% if @user.microposts.any? %>
          <!--<h3>Seeds (<%= @user.microposts.count %>)</h3>-->
          <div class = "postcontainer-inside">
            <ol class="microposts">
              <!-- Render from _micropost.html.erb -->
              <%= render @microposts %>
            </ol>
          </div>
          <%= will_paginate @microposts %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>