<% provide(:title, @user.name) %>

<div class = "profilepage">
<div class = "container">

<!-- World Map -->
<div class = "page page1 ">
    <div class = "textabovemap"><p>Hey <%= @user.name %>, look at the world. Isn't it <em>amazing</em> ?</p></div>
    <div class = "viewposts"><a href = "#"><em>Don't you want to write something behind?</em></a></div>

    <div id="holder_1000" style="position:relative;"></div> <!-- World Map -->
    <div class = "popupbox">
      <h5>Hey there</h5>
      <h4 class = "crossicon "><a href = "#">&#10007</a></h4>
      <P>When you are there, have you thought through...</p>
      <p>Like freedom, life, dream, religion, or whatever that jumps into your mind, even for a second.</p>
      <p>If you don't note them down, they'll disappear in a second, like a stray bird of summer, sing and fly away with a sigh.</p>
      <h3 class = "viewposts"><a href = "#">&#10004</a></h3>
    </div>
    <div class = "jin"><p>Profile page designed by JINGYI FENG</p></div>
</div>

<!-- Page 2 is our Main Profile -->
<div class = "page page2 active-page">
  <div class = "section-1 col-md-4">
    <div class="row">
        <div class="user_info">
          <div class = "user_info_picture">
            <%= gravatar_for @user %>
            <p><%= @user.name %></p>
            <div class = "linktomap"><a href = "#">(See my map!)</a></div>
          </div>
          <div class = "user_info_text"></div>
        </div>
      </div>
    </div>

  <div class = "section-2 col-md-5">
    <div class = "row">
      <div class = "postcontainer">

      <div class = "postform">
        <!-- Add a micropost form -->
        <%= form_for(@micropost, html: { multipart: true }) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <div class="field">
            <%= f.text_area :content, placeholder: "What jumps into your mind..." %>
          </div>
          <div class = "uploadpicture"><%= link_to image_tag("camera.png"), "#" %></div>
          <%= f.submit "Footprint", class: "btn btn-primary postbutton" %>
          <!-- Picture uploader -->
          <span class="picture">
            <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png, image/jpg, image/bmp, image/tiff, image/rif' %>
          </span>
        <% end %>
      </div>

        <% if @user.microposts.any? %>
          <!--<h3>Seeds (<%= @user.microposts.count %>)</h3>-->
          <div class = "postcontainer-inside">
            <ol class="microposts">
              <!-- Render from _micropost.html.erb -->
              <%= render @microposts %>
            </ol>
          </div>
          <%= will_paginate @microposts %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>