

<div class = "footer">
	<div class = "container">
		<div class = "about col-xs-4">
			<ul><p class = "subtitle">ABOUT</p>
				<li><a href = "./about">Footprint</a></li>
				<li><a href = "http://orbital.comp.nus.edu.sg">Orbital</a></li>
				<li><a href = "#">Contact</a></li>
				<li><a href = "#">Feedback</a></li>
				<li><a href = "#">Links</a></li>
			</ul>
		</div>
		<div class = "app col-xs-4">
			<ul><p class = "subtitle">APP</p>
				<li ><%= link_to image_tag("iphone.png", class: "apppic"), "https://www.apple.com"  %> for iPhone</li>
				<li ><%= link_to image_tag("android.png", class: "apppic"), "https://www.samsung.com" %> for Android</li>
				<li ><%= link_to image_tag("windows.png", class: "apppic"), "https://www.windowsphone.com" %> for Windows Phone</li>
			</ul>
		</div>.
		<div class = "subscribe col-xs-4">
			<ul><p class = "subtitle">SUBSCRIBE</p>
				<li ><%= link_to image_tag("github.png", class: "subapp"), "https://www.github.com/xiihu" %></li>
				<li ><%= link_to image_tag("fb.png", class: "subapp"), "#" %></li>
				<li ><%= link_to image_tag("twitter.png", class: "subapp"), "#" %></li>
				<li ><%= link_to image_tag("ins.png", class: "subapp"), "#" %></li>
				<li ><%= link_to image_tag("linkedin.png", class: "subapp"), "#" %></li>
			</ul>
			<div class = "name"><p>© 2015 Yurilliam<p>
			</div>
		</div>
	</div>
</div>