
	<header class="nav">
		<div class = "container">
			<div class = "logo">
				<ul class = "pull-left">
					<li><%= link_to "Footprint", root_path %></li>
				</ul>
				<ul class = "pull-left"><%= link_to image_tag("icon.png", class: "icon"), root_path %></ul>
				<ul class = "pull-left"><%= link_to image_tag("icon2.png", class: "icon icon2"), root_path %></ul>
			</div>
			<!--This is supposed to be a search box-->
			<nav>
				<ul class = "pull-right">
					<div class = "nav-right-text">
						<li><%= link_to "Log In",   login_path %></li>
						<li><%= link_to "About",   about_path %></li>
						<li><%= link_to "Explore",   explore_path %></li>
						<li class = "dropdown help">
							<a href="#" class="dropdown-toggle">More <b class="caret"></b></a>
							<ul class = "dropdown-menu">
								<li><%= link_to "Sign Up",   signup_path %></li>
								<li><%= link_to "Contact",    contact_path %></li>
								<li><%= link_to "Feedback",   feedback_path %></li>
								<li><a href = "https://orbital2015.slack.com/messages" target = "_blank">Community</a></li>
								<li><a href = "https://yollyhideout.wordpress.com" target = "_blank">Blog</a></li>
								<li><%= link_to "Log out",    "#" %></li>
							</ul>
						</li>
					</div>
				</ul>
			</nav>
		</div>
	</header>
