<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css"> <!--Footprint Logo Font from Google Fonts-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag '/favicon.png' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
	<%= render 'layouts/header' %>
	<div class = "container">
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
</body>
</html>
